@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body{
    font-family: Inter;
    background: #F5F6F6 !important;}
.deznav,.nav-header{
    background: #262626 !important;
}
.nav-header img{
max-height: 100%;
}
.header-content {
background-color: #fff;
}
.deznav .nav-text{
    color: #A3A1A1;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dms_login_page{
    background: #171717;
    height: 100%;
    min-height: 100vh;
}.dms_login_page hr{
    background-color: #242525;
    height: 1.5px;
}
.dms_login_page_title{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.dms_login_page_text{
    color: #6B6B6B;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 135.023%; /* 20.253px */
}

.dms_login_page_input-group{
    border-radius: 5px;
    background: #242525;
}
.dms_login_page_input-item-text{
    color: #606060;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 136.5%; /* 21.84px */
}
.dms_login_page_input-item{
    max-width: 355px;
width: 100%;            
flex-shrink: 0;
margin: auto;
}

.dms_login_page_button,.dms_login_page_button:hover{
    border-radius: 4.264px;
background: #F78D1E;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.otp-inputs{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.otp-inputs input{
    border-radius: 5px;
    border: 1px solid #404040;
    background: #242525;
    box-shadow: 0px 0px 17px 0px #232323;
    width: 58px;
    height: 58px;
    flex-shrink: 0;
    text-align: center;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
    }
    .otp-not-received-text{
        color: #888;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 14px */
    }
    .resend-otp-text,  .resend-otp-text:hover{
        color: #F78D1E;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
    }


.search_bar{
    border-radius: 9px;
border: 1px solid #E3E3E3;
background: #FFF;
}

.card-border{
    border-radius: 12.688px;
border: 1px solid #E1E1E1;
background: #FFF;
}

.text-xl{
    color: #7E7E7E;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text-lg{
    color: #7E7E7E;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-md{
    color: #7E7E7E;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text-sm{
    color: #313131;
    font-family: Inter;
    font-size: 12.459px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.bold-text{
    font-weight: 700;
}

.color-dark{
    color: #313131 !important;

}

.color-light{
    color: #7E7E7E !important;

}

.dropdown-border{
    border-radius: 0.34463rem;
    border: 0.919px solid #E3E3E3;
    background: #F0F0F0;
    padding: 5px;
}

.total-dealers-card_bottom-text{
    max-width: max-content;
flex-shrink: 0;
border-radius: 3.858px;
background: #EBE0FF;
color: #8C6FC0;
font-family: Inter;
font-size: 11.575px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.active-dealers-card_bottom-text{
    max-width: max-content;
flex-shrink: 0;
border-radius: 0.24113rem;
background: #FEEAEA;
color: #F96421;
font-family: Inter;
font-size: 0.72344rem;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.dormant-dealers-card_bottom-text{
    max-width: max-content;
flex-shrink: 0;
border-radius: 0.24113rem;
background: #EBF8EF;
color: #18CE98;
font-family: Inter;
font-size: 0.72344rem;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.card{
    border-radius: 0.72344rem;
border: 1px solid #E1E1E1;
background: #FFF;
}

.table thead th {
    vertical-align: top;
}
.table tbody tr td {
    vertical-align: top;
}
.status-dropdown{
    border-radius: 13px;
    padding: 5px;
}
.starting,.overdue{
    background: #F7DBE2;
    border: none;
    outline: none;
    box-shadow: none;
    color: #DC4D70;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 12px */
}
.pending{
    background: #FFE2CC;
    border: none;
    outline: none;
    box-shadow: none;
    color: #FF6E01;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 12px */
}
.wip,.completed{
    background: #D1FAEF;
    border: none;
    outline: none;
    box-shadow: none;
    color: #18B992;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 12px */
}
.custom-btn-border{
    border-radius: 9px;
    border: 1px solid #E3E3E3;
    background: #FBFBFB;
    text-decoration: none;
    padding: 5px 10px !important;
    margin: 10px;
    width: max-content;}
.add-new-dealers_btn,.add-new-dealers_btn:hover{
    border-radius: 7.838px;
background: #F96421;
color: #FFF;
font-family: Inter;
font-size: 12.541px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 12.541px */
}
.bootstrap-select .btn {

    padding: 5px 10px !important;
    border: none !important;
    outline: none !important;
}